services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: alibi_club
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    build: ./server
    environment:
      DJANGO_SETTINGS_MODULE: server.settings
      DJANGO_ALLOWED_HOSTS: "localhost 127.0.0.1 server web *.trycloudflare.com"

      PSQL_DB: alibi_club
      PSQL_USER: postgres
      PSQL_USER_PASSWORD: admin
      PSQL_HOST: db
      PSQL_PORT: "5432"
    depends_on:
      - db
    restart: unless-stopped

  web:
    image: nginx:alpine
    depends_on:
      - backend
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./frontend_dist:/usr/share/nginx/html:ro
    restart: unless-stopped

  tunnel:
    image: cloudflare/cloudflared:latest
    depends_on:
      - web
    command: tunnel --no-autoupdate --url http://web:80
    restart: unless-stopped

volumes:
  db_data:
