@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');




.main_content_conteiner{
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.top-section h1{
    font-size: 75px;
    text-align: left;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 10500;
    font-style: normal;
}

.top-section p{
    font-size: 20px;
    text-align: left;
    font-weight: 500px;
}

.join-section{
    display: flex;
    justify-content: space-between;
}

.form_subtitle{
    width: 250px;
    margin: 0 auto;
}
.coll{
    width: 33%;
}

form a {
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    background: #961010;
    border-radius: 50px;
}

.join-section .coll:nth-child(1) img{
    position: relative;
    z-index: 1;
    filter: brightness(60%);
}
.join-section .coll:nth-child(2) img{
    position: relative;
    transform: scale(2); /* увеличивает в 1.5 раза */
    transform-origin: center;
    margin-top: 100px;
    top: 100px;
    left: -100px;
}

.join-section .coll:nth-child(3) {
    position: relative;
    z-index: 1;
}

.join-section .row{
    width: 70%;
    margin: 25px auto;
}

.join-section input {
    /*background: #961010;*/
    background: gray;
    margin-top: 10px;
}

@media (max-width: 900px) {
    .join-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 40px;  
    }
    .join-section .coll{
        width: 100%;
    }


    .join-section .coll:nth-child(1) img{
        grid-column: 1 / 2;
        transform: scale(1.75);
        top:-50px;
        z-index: 0;
    }

    .join-section .coll:nth-child(2) img{
        grid-column: 2 / 3;
        transform: scale(2);
        bottom: -100px;
        left: -150px;
        max-width: 100%;
        display: block;
    }
    .join-section .coll:nth-child(3) {
        grid-column: 1 / 3;
        margin: 0 auto;
    }

    
}


@media (max-width: 768px) {
    .join-section .coll:nth-child(2) img{
        left: -50px;
    }
}

@media (max-width: 650px) {
    .join-section .coll:nth-child(2) img{
        top: -10%;
    }
    .top-section h1{
        font-size: 55px;

    }
}