.main_navbar{
    display: block;
    justify-content: space-between;
}

.logo_section{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.logo_section img{
    width: 100%;
    height: 100%;
}

.links_menu{
    align-content: center;
    width: 700px;
}

.links_menu ul {
    display: flex;
    justify-content: space-between;
    
}


.link_nav a {
    background: linear-gradient(
    90deg,
    #F91515,
    #d00909,
    #961010,
    #ab0000,
    #690000
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: goldShine 3s linear infinite;
    font-weight: 500;
    font-size: 20px;
}


@keyframes goldShine {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}


.links_menu ul a:hover{
    border-bottom: 3px solid #d00909;
}

.links_menu ul a:hover::after{
    transform: translateX(0%);
    animation: gradient-89 3s linear infinite;
}



.lang_select {
    align-content: center;
    color: #d00909;
}